<!-- Breadcrumb Section -->
<div class="bg-primary custom-breadcumb-bg-classname">
    <div class="container space-1">
        <!-- Breadcrumb -->
        <ol breadcumb class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
            <!-- <li class="breadcrumb-item"><a class="breadcrumb-link" href="../home/index.html">Home</a></li> -->
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
        <!-- End Breadcrumb -->
    </div>
</div>
<!-- End Breadcrumb Section -->
<!-- Content Section -->
<div class="bg-light">
    <div class="container space-2">

        <div class="row">
            <div class="col-md-4 mb-7">
                <div class="text-center px-lg-3">
                    <span class="btn btn-lg btn-icon btn-soft-primary rounded-circle">
                        <span class="fas fa-id-card btn-icon__inner"></span>
                    </span>
                    <h3 class="h5">OCR</h3>
                    <p class="mb-md-0">É a extração automática de informações de uma imagem, tais como a CNH ou RG.</p>
                </div>
            </div>

            <div class="col-md-4 mb-7">
                <div class="text-center px-lg-3">
                    <span class="btn btn-lg btn-icon btn-soft-primary rounded-circle">
                        <span class="fas fa-check btn-icon__inner"></span>
                    </span>
                    <h3 class="h5">Document Analyser</h3>
                    <p class="mb-md-0">Análise com inteligência artificial das características físicas e dados extraídos
                        dos documentos.</p>
                </div>
            </div>

            <div class="col-md-4 mb-7">
                <div class="text-center px-lg-3">
                    <span class="btn btn-lg btn-icon btn-soft-primary rounded-circle">
                        <span class="fas fa-user-check btn-icon__inner"></span>
                    </span>
                    <h3 class="h5">Face Match</h3>
                    <p class="mb-md-0">Validação através de comparativo entre selfie e foto de documento.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-7">
                <div class="text-center px-lg-3">
                    <span class="btn btn-lg btn-icon btn-soft-primary rounded-circle">
                        <span class="fas fa-spell-check btn-icon__inner"></span>
                    </span>
                    <h3 class="h5">Info Check</h3>
                    <p class="mb-md-0">Checagem e validação dos dados de pessoas e empresas em mais de 200 fontes de
                        pesquisa.</p>
                </div>
            </div>

            <div class="col-md-4 mb-7">
                <div class="text-center px-lg-3">
                    <span class="btn btn-lg btn-icon btn-soft-primary rounded-circle">
                        <span class="fas fa-tasks btn-icon__inner"></span>
                    </span>
                    <h3 class="h5">Quiz</h3>
                    <p class="mb-md-0">O sistema gera um Quiz com perguntas individualizadas sobre o solicitante do
                        cadastro com um tempo de resposta, identificando probabilidade de fraude.</p>
                </div>
            </div>

            <div class="col-md-4 mb-7">
                <div class="text-center px-lg-3">
                    <span class="btn btn-lg btn-icon btn-soft-primary rounded-circle">
                        <span class="fas fa-fingerprint btn-icon__inner"></span>
                    </span>
                    <h3 class="h5">Device ID</h3>
                    <p class="mb-md-0">É uma tecnologia que identifica e registra os dispositivos e redes seguras que
                        seu cliente já utiliza em suas transações para análises futuras.</p>
                </div>
            </div>
        </div>
    </div>
</div>